*{
 box-sizing: border-box;
 padding: 0;
 margin: 0;
font-family: 'Libre Baskerville', serif;
}

/* body with the cloud display */
body{
 height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
 background-image: url('./images/bodyPic.jpg');
 background-repeat: no-repeat;
 background-size: cover;
}

/* container */
#container{
 width: 90%;
 max-width: 70rem;
 overflow: auto;
 border-radius: 1.875rem;
}

/* display boxes that shows the characters */
.displayHouse{
 display: flex;
 overflow: auto;
 justify-content: space-around;
 /* border: 1px solid red; */
 
}
.display{
 margin-top:30px ;
 width: 40%;
 height:500px ;
 /* border: 1px solid orange; */
 border-radius: 16px;
 position: relative;
}
h2{
 position: absolute;
 left: 30%;
 top: 70%;
 font-size: 3rem;
}

/* section with the h1 of Vs */
.vs{
 overflow: auto;
text-align: center;
/* border: 1px solid green; */
}
h1{
 font-size: 3rem;
}

/* section with characters */
.characters{
 margin-bottom: 30px;
overflow: auto;
 display: flex;
 justify-content: space-around;
 /* border: 1px solid purple; */
}
.characters div{
 height: 100px;
 width: 10%;
 /* border: 1px solid brown; */
 border-radius: 12px;
}
.characters div> img{
 width: 100%;
height: 100%;
border-radius: 12px;
}
button{
 width: 10%;
 height: 30px;
 border-radius: 8px;
}
